@media screen and (max-width:767px){
     .banner {
         width: 100%;
          height: 500px;
        background-size: cover;
    }
    .logo {
        width: 200px;
        height: 70px;
        margin-left: 95px;}
    .h {
            padding: 10px;
    }
    
    h3{
        font-size: 15px;
    }
    h1 {
    font-size: 30px;
    }
    h5{
        font-size: 15px;
    }
    .button {
        padding: 0px;
    }
    .button1 {
        width: 100px;
        height: 50px;
    }
    .button2 {
        width: 100px;
        height: 50px;
    }
    .block{
        display: block;
        width: 100%;
        align-items: center;
    }
    .block1 {
        width: 100%;
        display: block;
        padding: 50px 0;
    }
    .block2 {
        width: 100%;
        display: block;
        padding: 50px 0;
    }
    .block3 {
        width: 100%;
        display: block;
        padding: 50px 0;
    }
    .block4 {
        width: 100%;
        display: block;
        padding: 50px 0;
    }
   .block1 img,.block2 img,.block3 img,.block4 img {
        margin-top: 50px;
    }
    .text{
        display: block;
        width: 100%;
    }
    .one {
        width: 60%;
        padding: 10px 10px;
        margin: 20px;
        display: block;
    }
    .two {
        width: 60%;
        padding: 10px 10px;
        margin: 0px;
        display: block;
    }
    .three {
        width: 60%;
        padding: 10px 10px;
        margin: 0px;
        display: block;
    }
    .skill {
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }
    .skill h2 {
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-weight: 317px;
        line-height: 10px;
        padding-bottom: 15px;
        text-align: justify;
    }
    i.fa.fa-leaf, i.fa.fa-laptop, i.fa.fa-edit, i.fa.fa-search,i.fa.fa-hourglass-start,
     i.fa.fa-id-card-o,i.fa.fa-lightbulb-o, .i.fa.fa-paper-plane-o,.seo,i.fa.fa-paper-plane-o {
        color: #18CFAB;
        width: 26px;
        height: 32px;
        margin-top: -41px;
        margin-right: 10px;
        font-size: 50px;
    }
    .para {
        width: 30%;
        height: 40px;
        padding: 80px 40px;
    }
    .para h3 {
        font-size: 20px;
        color: rgb(51,117,162);
        margin-top: -57px;
        margin-left: 60px;
    }
    .para p {
        text-align: center;
        font-size: 15px;
        width: 250px;
    text-align: justify;
    }
    .section4 {
        height: 300px;
        background-size: cover;
        margin-top: 80px;
    }

    .tabImage img {
        width: 212px;
        margin-top: 113px;
    }
    .progressBar h2 {
        font-size: 16px;
        line-height: 6px;
        color: #ffffff;
        font-weight: 400;
        margin-left: 10px;
    }
    .section4 .header_line {
        padding-left: 21px;
    }
    .progressBar ul {
        display: flex;
        margin-top: -40px;
        text-align: left;
    }
    .progressBar ul li {
        list-style: none;
        margin-left: 5px;
    }
    .progressBar .progress {
        margin-top: 0px;
        padding: 0 8px;
    }
}
 @media screen and (max-width:425px){
    .banner img {
        width: 100%;
        height: auto;
        background-size: cover;
    }
}
  /* } 1366,1440,1024,678,320 */
  @media screen and (max-width:1440px){
      
  }